Repository LibPDF-js/core: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt

fix(filters): handle sync-flush terminated zlib streams in FlateDecode
  src/filters/flate-filter.test.ts
  src/filters/flate-filter.ts
Due: oxlint --fix, oxfmt

chore: gitignore fixtures/private/
  .gitignore
Due: none

chore: change testing timestamp authority
  src/integration/signatures/signing.test.ts
Due: oxlint --fix, oxfmt

chore: formatting
  content/docs/advanced/low-level-drawing.mdx
  content/docs/api/pdf-page.mdx
  content/docs/api/pdf.mdx
  content/docs/guides/drawing.mdx
Due: oxfmt

release: v0.2.6
  package.json
Due: oxfmt

fix(forms): use real font refs in appearance streams (#18)
  fixtures/fonts/ttf/DejaVuSans.ttf
  src/api/pdf-fonts.ts
  src/api/pdf-form.ts
  src/document/forms/button-appearance.ts
  src/document/forms/choice-appearance.ts
  src/document/forms/text-appearance.ts
  src/fonts/embedded-font.ts
  src/tests/issues/issue-18-flatten-embedded-fonts.test.ts
Due: oxlint --fix, oxfmt

release: v0.2.7
  package.json
Due: oxfmt

fix(text): preserve stream order for RTL-placed design-tool PDFs
  fixtures/text/rtl-placed-ltr-text.pdf
  src/integration/text/rtl-placed-text.test.ts
  src/text/line-grouper.test.ts
  src/text/line-grouper.ts
  src/text/text-extractor.ts
  src/text/text-search.test.ts
  src/text/types.ts
Due: oxlint --fix, oxfmt

feat(bench): add page splitting/copying benchmarks and markdown report
  .github/workflows/bench.yml
  .gitignore
  benchmarks/comparison.bench.ts
  benchmarks/copying.bench.ts
  benchmarks/fixtures.ts
  benchmarks/splitting.bench.ts
  package.json
  reports/benchmarks.md
  scripts/bench-report.ts
Due: oxlint --fix, oxfmt

fix(security): truncate misaligned AES ciphertext instead of throwing
  src/security/ciphers/aes.test.ts
  src/security/ciphers/aes.ts
Due: oxlint --fix, oxfmt

perf(writer): cache PdfName bytes, shared hex table, skip tiny deflate
  reports/baselines/escape-name-opt.json
  reports/baselines/skip-tiny-deflate.json
  src/api/pdf.ts
  src/helpers/buffer.ts
  src/objects/pdf-name.ts
  src/writer/pdf-writer.ts
Due: oxlint --fix, oxfmt

perf(copier): make ObjectCopier fully synchronous
  reports/baselines/baseline.json
  reports/baselines/comparison-sync-copier.md
  reports/baselines/sync-copier.json
  src/api/pdf.ts
  src/document/object-copier.test.ts
  src/document/object-copier.ts
Due: oxlint --fix, oxfmt

perf(cache): replace internal LRU cache with npm lru-cache
  bun.lock
  package.json
  reports/baselines/comparison-npm-lru-cache.md
  reports/baselines/npm-lru-cache.json
  src/helpers/lru-cache.test.ts
  src/helpers/lru-cache.ts
  src/objects/pdf-name.ts
  src/objects/pdf-ref.ts
Due: oxlint --fix, oxfmt

ci: add PR benchmark comparison workflow
  .github/workflows/bench-pr.yml
  scripts/bench-compare.ts
Due: oxlint --fix, oxfmt

chore: tidy baselines remove local report
  reports/baselines/baseline.json
  reports/baselines/comparison-npm-lru-cache.md
  reports/baselines/comparison-sync-copier.md
  reports/baselines/escape-name-opt.json
  reports/baselines/npm-lru-cache.json
  reports/baselines/skip-tiny-deflate.json
  reports/baselines/sync-copier.json
  reports/benchmarks.md
Due: oxfmt

ci: simplify PR benchmark workflow
  .github/workflows/bench-pr.yml
  scripts/bench-comment.ts
  scripts/bench-compare.ts
Due: oxlint --fix, oxfmt

ci: run all benchmarks, use collapsible sections in PR comment
  .github/workflows/bench-pr.yml
  scripts/bench-comment.ts
Due: oxlint --fix, oxfmt

ci: use actual runner info instead of hardcoded string
  .github/workflows/bench-pr.yml
  scripts/bench-comment.ts
Due: oxlint --fix, oxfmt

fix(security): warn on AES truncation and catch decryption failures
  src/parser/document-parser.ts
  src/security/ciphers/aes.ts
Due: oxlint --fix, oxfmt

fix(security): truncate misaligned AES ciphertext instead of throwing (#29)
  src/parser/document-parser.ts
  src/security/ciphers/aes.test.ts
  src/security/ciphers/aes.ts
Due: oxlint --fix, oxfmt

perf: reduce allocation churn in operator serialization
  src/content/operators.test.ts
  src/content/operators.ts
  src/drawing/serialize.ts
Due: oxlint --fix, oxfmt

fix: restore byteLength method with warning
  src/content/operators.ts
  src/helpers/operators.test.ts
Due: oxlint --fix, oxfmt

fix: actually put the test back in the right place
  src/content/operators.test.ts
  src/helpers/operators.test.ts
Due: oxlint --fix, oxfmt

fix(api): resolve indirect refs in resource subdictionaries
  fixtures/scenarios/indirect-xobject-resources.pdf
  src/api/pdf-page.ts
  src/tests/issues/drawpage-indirect-xobject-resources.test.ts
Due: oxlint --fix, oxfmt

perf(parser): fast-path name tokenization to avoid TextDecoder
  src/parser/token-reader.test.ts
  src/parser/token-reader.ts
Due: oxlint --fix, oxfmt

perf(parser): fast-path name tokenization to avoid TextDecoder (#33)
  src/parser/token-reader.test.ts
  src/parser/token-reader.ts
Due: oxlint --fix, oxfmt

perf: reduce allocations and copies in load-modify-save path
  scripts/profile-load-save.ts
  src/api/pdf.ts
  src/filters/ascii-hex-filter.ts
  src/filters/ascii85-filter.ts
  src/filters/lzw-filter.ts
  src/filters/run-length-filter.ts
  src/helpers/format.ts
  src/io/byte-writer.ts
  src/parser/indirect-object-parser.ts
  src/writer/pdf-writer.ts
  src/writer/serializer.ts
Due: oxlint --fix, oxfmt

perf: reduce allocations and copies in load-modify-save path (#34)
  scripts/profile-load-save.ts
  src/api/pdf.ts
  src/filters/ascii-hex-filter.ts
  src/filters/ascii85-filter.ts
  src/filters/lzw-filter.ts
  src/filters/run-length-filter.ts
  src/helpers/format.ts
  src/io/byte-writer.ts
  src/parser/indirect-object-parser.ts
  src/writer/pdf-writer.ts
  src/writer/serializer.ts
Due: oxlint --fix, oxfmt

fix(signatures): ensure crypto engine is always installed before use
  src/signatures/crypto/crypto-engine.ts
  src/signatures/crypto/index.ts
  src/signatures/revocation.ts
  src/signatures/signers/crypto-key.ts
  src/signatures/signers/p12.ts
Due: oxlint --fix, oxfmt

test(signatures): save legacy P12 signed PDFs to test-output
  src/integration/signatures/signing.test.ts
Due: oxlint --fix, oxfmt

release: v0.2.10
  package.json
Due: oxfmt

fix: handle off-by-one xref subsection start in malformed PDFs
  fixtures/malformed/xref-off-by-one.pdf
  src/api/pdf.test.ts
  src/document/object-copier.ts
  src/parser/xref-parser.test.ts
  src/parser/xref-parser.ts
Due: oxlint --fix, oxfmt

feat(drawing): add transparency groups, soft masks, and gradient stop opacity
  .agents/plans/quiet-indigo-fire-transparency-groups-soft-masks-gradient-alpha.md
  src/api/pdf-page.ts
  src/api/pdf.ts
  src/drawing/path-builder.ts
  src/drawing/resources/extgstate.test.ts
  src/drawing/resources/extgstate.ts
  src/drawing/resources/form-xobject.test.ts
  src/drawing/resources/form-xobject.ts
  src/drawing/resources/index.ts
  src/drawing/resources/pattern.ts
  src/drawing/resources/shading.test.ts
  src/drawing/resources/shading.ts
  src/helpers/pdf-version.test.ts
  src/helpers/pdf-version.ts
  src/index.ts
  src/integration/drawing/low-level-soft-masks.test.ts
Due: oxlint --fix, oxfmt

fix: tighten off-by-one detection
  src/parser/xref-parser.ts
Due: oxlint --fix, oxfmt

fix: handle off-by-one xref subsection start in malformed PDFs (#38)
  fixtures/malformed/xref-off-by-one.pdf
  src/api/pdf.test.ts
  src/document/object-copier.ts
  src/parser/xref-parser.test.ts
  src/parser/xref-parser.ts
Due: oxlint --fix, oxfmt

fix: declare asn1js as a dependency
  bun.lock
  package.json
Due: oxfmt

fix: declare asn1js as a dependency (#43)
  bun.lock
  package.json
Due: oxfmt

release: v0.2.11
  package.json
Due: oxfmt

fix: install custom crypto engine before pkijs parseInternalValues
  src/signatures/signers/p12.ts
Due: oxlint --fix, oxfmt

Path conditions:
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
  oxfmt: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{md,mdx})
