Repository LibPDF-js/core: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  src/viewer/pdfjs/pdfjs-wrapper.ts
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  demo/demo.ts
  demo/styles.css
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  demo/demo.ts
  demo/styles.css
  src/viewer/pdfjs/pdfjs-search.ts
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  src/viewer/pdfjs/pdfjs-renderer.ts
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  demo/demo.ts
  src/viewer/pdfjs/index.ts
  src/viewer/pdfjs/pdfjs-search.ts
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  demo/demo.ts
  demo/styles.css
  src/viewer/pdfjs/pdfjs-text-layer.ts
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  demo/styles.css
Due: none

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  src/viewer/pdfjs/pdfjs-renderer.ts
  src/virtual-scroller.ts
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  src/viewer/pdfjs/pdfjs-text-layer.ts
Due: oxlint --fix, oxfmt

Merge vk/f7d4-replace-with-pdf into fix/enhancement
  demo/demo.ts
Due: oxlint --fix, oxfmt

Merge vk/d6c1-demo2-from-scrat into fix/enhancement
  demo2/README.md
  demo2/demo2.ts
  demo2/index.html
  demo2/styles.css
  package-lock.json
  package.json
Due: oxlint --fix, oxfmt

Merge vk/d6c1-demo2-from-scrat into fix/enhancement
  demo2/demo2.ts
Due: oxlint --fix, oxfmt

Merge vk/d6c1-demo2-from-scrat into fix/enhancement
  demo2/demo2.ts
  demo2/styles.css
Due: oxlint --fix, oxfmt

Merge vk/d6c1-demo2-from-scrat into fix/enhancement
  src/renderers/canvas-renderer.ts
Due: oxlint --fix, oxfmt

Merge vk/767b-implement-boundi into fix/enhancement
  demo/demo.ts
  package-lock.json
  package.json
  src/frontend/bounding-box-controls.ts
  src/frontend/bounding-box-overlay.ts
  src/frontend/index.ts
  src/index.ts
Due: oxlint --fix, oxfmt

Merge vk/21db-implement-text-s into fix/enhancement
  demo/demo.ts
  demo/styles.css
Due: oxlint --fix, oxfmt

Merge vk/ef91-implement-coordi into fix/enhancement
  package-lock.json
  package.json
  src/frontend/coordinate-transformer.test.ts
  src/frontend/coordinate-transformer.ts
  src/frontend/index.ts
  src/index.ts
Due: oxlint --fix, oxfmt

changes
  .raid/debug_564ac3ff-9ce6-451b-83a8-ab68d91f9ac1.log
Due: none

changes
  package.json
Due: oxfmt

fix(forms): pass resolver for indirect refs in dicts and name trees
  fixtures/issues/form-filling/5e_character_sheet.pdf
  src/document/forms/acro-form.ts
  src/document/forms/fields/base.ts
  src/document/forms/fields/choice-fields.ts
  src/document/forms/form-flattener.ts
  src/document/forms/widget-annotation.ts
  src/document/name-tree.ts
  src/tests/issues/issue-55-indirect-fields-contents.test.ts
  src/tests/issues/issue-55-indirect-refs-comprehensive.test.ts
Due: oxlint --fix, oxfmt

fix(parser): skip trailing whitespace in findStartXRef
  src/parser/xref-parser.test.ts
  src/parser/xref-parser.ts
Due: oxlint --fix, oxfmt

fix(parser): fall back to endstream scan when /Length is unresolvable
  src/parser/indirect-object-parser.test.ts
  src/parser/indirect-object-parser.ts
Due: oxlint --fix, oxfmt

fix(objects): replace PdfName LRU cache with WeakRef interning
  src/objects/pdf-name.test.ts
  src/objects/pdf-name.ts
  src/tests/issues/issue-54-name-interning-load.test.ts
Due: oxlint --fix, oxfmt

release: v0.3.4
  package.json
Due: oxfmt

perf(core): avoid per-ref string allocations via PdfRef.key
  src/objects/pdf-ref.ts
  src/parser/document-parser.ts
  src/writer/pdf-writer.ts
Due: oxlint --fix, oxfmt

feat: add AwsKmsSigner
  bun.lock
  content/docs/guides/signatures/aws-kms.mdx
  content/docs/guides/signatures/index.mdx
  content/docs/guides/signatures/meta.json
  package.json
  src/index.ts
  src/signatures/index.ts
  src/signatures/signers/aws-kms.test.ts
  src/signatures/signers/aws-kms.ts
  src/signatures/signers/index.ts
Due: oxlint --fix, oxfmt

fix(writer): renumber objects densely on full save
  .oxlintrc.json
  bun.lock
  package.json
  src/objects/pdf-ref.ts
  src/writer/pdf-writer.test.ts
  src/writer/pdf-writer.ts
Due: oxlint --fix, oxfmt

fix: clean full-save output and complete flatten cleanup
  src/api/pdf-form.test.ts
  src/api/pdf.ts
  src/document/forms/acro-form.test.ts
  src/document/forms/form-flattener.ts
  src/parser/document-parser.test.ts
  src/parser/document-parser.ts
  src/writer/pdf-writer.test.ts
  src/writer/pdf-writer.ts
Due: oxlint --fix, oxfmt

chore: update deps and ci
  .oxlintrc.json
  bun.lock
  package.json
  src/document/forms/acro-form.test.ts
  src/security/key-derivation/md5-based.ts
  src/writer/pdf-writer.test.ts
  tsconfig.json
Due: oxlint --fix, oxfmt

fix: clean full-save output and complete flatten cleanup (#72)
  .oxlintrc.json
  bun.lock
  package.json
  src/api/pdf-form.test.ts
  src/api/pdf.ts
  src/document/forms/acro-form.test.ts
  src/document/forms/form-flattener.ts
  src/parser/document-parser.test.ts
  src/parser/document-parser.ts
  src/security/key-derivation/md5-based.ts
  src/writer/pdf-writer.test.ts
  src/writer/pdf-writer.ts
  tsconfig.json
Due: oxlint --fix, oxfmt

release: v0.3.5
  package.json
Due: oxfmt

fix: bump node version for trusted publishing
  .github/workflows/release.yml
Due: none

release: v0.3.6
  package.json
Due: oxfmt

Path conditions:
  oxlint --fix: any of: *.{ts,tsx,js,jsx}
  oxfmt: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{md,mdx})
